## Задание 1

In [ ]:
!jupyter nbconvert pandas_1_DZ.ipynb --to slides --post serve

[NbConvertApp] Converting notebook pandas_1_DZ.ipynb to slides
[NbConvertApp] Writing 291377 bytes to pandas_1_DZ.slides.html
[NbConvertApp] Redirecting reveal.js requests to https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0
Serving your slides at http://127.0.0.1:8000/pandas_1_DZ.slides.html
Use Control-C to stop this server
WARNING:tornado.access:404 GET /custom.css (127.0.0.1) 5.67ms

In [14]:
import pandas as pd

data = pd.read_csv('ratings.csv')
data = data[ data.rating == 5.0 ]
data = data.merge(pd.read_csv('movies.csv'))

data.groupby('title').count().sort_values('rating', ascending=False).head(1)

                                  userId  movieId  rating  timestamp  genres
title
Shawshank Redemption, The (1994)     153      153     153        153     153

## Задание 2

In [18]:

import pandas as pd

countries = pd.read_csv('power.csv')
countries.head(10)

        
filtered_countries = countries[countries['country'].isin(['Lithuania', 'Estonia','Latvia'])]
filtered_countries = filtered_countries[filtered_countries['category'].isin([4,12,21])]
filtered_countries = filtered_countries[((filtered_countries['quantity']>0) & 
                                        ((filtered_countries['year']>2005 )& (filtered_countries['year']<2010)))]


filtered_countries.groupby(['country','category']).sum()

                      year  quantity
country   category
Estonia   4          16060      12.0
          21         88330   42172.0
Latvia    21         94353   35860.0
Lithuania 4          24084      12.0
          12        126485    5363.0
          21        128480   81136.0

## Задание 3

In [35]:
import pandas as pd

df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'quote_list'}, encoding='utf-8')
df[:1]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1010744      -              1010491
 1          NaN            EUR/RUB       909060      -               901200
 2          NaN            USD/RUB       759940      -               756639
 3          NaN            JPY/RUB        07305      -                07257
 4          NaN            CNY/RUB       115541      -               115068
 5          NaN            CHF/RUB       839963      -               834406
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11965      -                11909
 8          NaN            EUR/GBP        08992      -                08918
 9          NaN            EUR/JPY      1244470      -              1241900
 10         NaN            EUR/CHF        10822      -                10800
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08358      -                08395
 13         NaN            USD/GBP        07517      -                07488
 14         NaN            USD/JPY      1040355      -              1042550
 15         NaN            USD/CHF        09046      -                09067
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08000      -                08100
 18         NaN            JPY/GBP        00072      -                00072
 19         NaN            JPY/USD        00096      -                00096
 20         NaN    JPY/CHF (100:1)        08700      -                08700
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13303      -                13356
 23         NaN            GBP/JPY      1383860      -              1392352
 24         NaN            GBP/EUR        11122      -                11214
 25         NaN            GBP/CHF        12035      -                12111
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12035      -                12111
 28         NaN            EUR/CHF        10822      -                10800
 29         NaN    JPY/CHF (100:1)        08700      -                08700
 30         NaN            USD/CHF        09046      -                09067
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       341407      -               339181
 33         NaN            USD/UAH       285350      -               284751
 34         NaN            CHF/UAH       315443      -               314017
 35         NaN            GBP/UAH       379573      -               380284

           %  Абсолютное значение     Время
 0    0,03 %                00253  22:35:00
 1    0,87 %                07860  22:34:00
 2    0,44 %                03301  22:34:00
 3    0,65 %                00047  22:35:00
 4    0,41 %                00474  22:34:00
 5    0,67 %                05557  22:35:00
 6         %  Абсолютное значение     Время
 7    0,47 %                00056  22:34:00
 8    0,83 %                00074  22:34:00
 9    0,21 %                02570  22:34:00
 10   0,20 %                00022  22:34:00
 11        %  Абсолютное значение     Время
 12  -0,44 %               -00037  22:35:00
 13   0,39 %                00029  22:35:00
 14  -0,21 %               -02195  22:34:00
 15  -0,23 %               -00021  22:34:00
 16        %  Абсолютное значение     Время
 17  -0,23 %                00000  22:34:00
 18   0,61 %                00000  22:35:00
 19   0,21 %                00000  22:35:00
 20  -0,04 %                00000  22:34:00
 21        %  Абсолютное значение     Время
 22  -0,39 %               -00052  22:34:00
 23  -0,61 %               -08492  22:35:00
 24  -0,82 %               -00092  22:34:00
 25  -0,63 %               -00076  22:34:00
 26        %  Абсолютное значение     Время
 27  -0,63 %               -00076  22:34:00
 28   0,20 %                00022  22:34:00
 29  -0,04 %                00000  22:34:00
 30  -0,23 %               -00021  22:34:00
 31        %  Абсолютное значение     Время
 32   0,66 %                02227  22:35:00
 33   0,21 %                00600  22:33:00
 34   0,45 %                01426  22:35:00
 35  -0,19 %               -00712  22:35:00  ]